/* style class file by j-yin */
html {
    font-size: 20px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Unbounded', cursive;
}

/* body {
    width:fit-content;
    margin: 0px 0px;
    padding: 20px 20px 20px 20px;
    background-color: cornsilk;
    border: 2px dashed red;         
} */

#main{
    padding: 20px 20px 20px 20px;
    background-color: rgb(158, 145, 93);
    border: 2px dashed rgb(136, 93, 93); 
    
}
.center{
    text-align: left;
    align-self: center;    
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#app-logo {
    text-align: center;
}

p,
li {
    margin: 0;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
#welcome-msg{
    font-size:16px;
    width: 61.8%;

}