/* style class file by j-yin */
html {
    font-size: 20px;
    /* Google fonts 输出的 CSS */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Unbounded', cursive;
    background-color: #00539F;
}

body {
    width:fit-content;
    margin: 0px 5px 10px 5px;
    padding: 20px 20px 20px 20px;
    background-color: cornsilk;
    border: 2px dashed grey;
}

h1 {
    font-size: 60px;
    text-align: center;
}

/* img {
    display: block;
    margin: 0 auto;
} */

p,
li {
    margin: 0;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}